<table>
    <th>
    <th>
        <a hafe= "#">ツイート</a>
        </th>
    <th align=center>
    </th>
    
    <th>
    <th>ツイートと返信</th>
    <th align=center>
    </th>
    
    <th>
    <th>メディア</th>
    <th aligin=center>
    </th>
    
    <th>
    <th>いいね</th>
    <th align=center>
    </th>
</table>