<table>
    <th>
    <th>
        <a href= "#">ツイート</a>
        </th>
    <th align=center>
    </th>
    
    <th>
    <th>
        <a href="#">ツイートと返信</a>
        </th>
    <th align=center>
    </th>
    
    <th>
    <th>
        <a href="#">メディア</a>
        </th>
    <th aligin=center>
    </th>
    
    <th>
    <th>
        <a href="#">いいね</a>
        </th>
    <th align=center>
    </th>
</table>