<table>
    <tr>
    <th>ツイート</th>
    <th align=center>
    </tr>
    
    <th>
    <th>ツイートと返信</th>
    <th align=center>
    </th>
    
    <th>
    <th>メディア</th>
    <th aligin=center>
    </th>
    
    <tr>
    <th>いいね</th>
    <th align=center>
    </tr>
</table>