<ui>
    <link href='https://css.gg/home-alt.css' rel='stylesheet'>
    <i class="gg-home-alt"></i> 
    <li>
        <a href="#">ホーム</a>
    <link href='https://css.gg/hashtag.css' rel='stylesheet'>
    <i class="gg-hashtag"></i>
    <li>話題を検索
    <link href='https://css.gg/bell.css' rel='stylesheet'>
    <i class="gg-bell"></i>
    <li>通知
    <link href='https://css.gg/mail.css' rel='stylesheet'>
    <i class="gg-mail"></i>
    <li>メッセージ
    <link href='https://css.gg/bookmark.css' rel='stylesheet'>
    <i class="gg-bookmark"></i>
    <li>ブックマーク
    <link href='https://css.gg/list.css' rel='stylesheet'>
    <i class="gg-list"></i>
    <li>リスト
    <link href='https://css.gg/profile.css' rel='stylesheet'>
    <i class="gg-profile"></i>
    <li>プロフィール
    <link href='https://css.gg/more-o.css' rel='stylesheet'>
    <i class="gg-more-o"></i>
    <li>もっと見る
    
    <li>ツイートする
</ul>